<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vehicles Monitor</title>


</head>
<link rel="stylesheet" href="{% static 'css/tabulator.css'%}">
<link rel="stylesheet" href="{% static 'css/table_theme.css'%}">
<body>
<h1 id="title">Vehicles Dashboard</h1>
<div id="vehicles-table"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/tabulator.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>

</html>


